<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">


<suite thread-count="2" name="testing_suite">
  

<test name="Check No.1" >

      <parameter name="keyWord" value="Selenium" />
				


      <classes>
      <class name="SameBrowser_MultipleTestCases_Parameterization.testing"/>
    </classes>

  </test> <!-- Test -->
   

<test name="Check No.2" >

    <parameter name="keyWord" value="LambdaTest"/>

    <classes>
      <class name="SameBrowser_MultipleTestCases_Parameterization.testing"/>
    </classes>

  </test> <!-- Test -->



</suite> <!-- Suite -->