<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="Resources.Listeners"/>
    </listeners>
    <test verbose="1" preserve-order="true" name="Retail Operations Inputter">
        <groups>
            <run>
                <include name="Inputter"/>
            </run>
        </groups>

        <classes>
            <class name="Test.Scripts.Conventional.CDR_Status">
            <methods>
                <include name="CDRStatusStop"/>
            </methods>
            </class>
        </classes>
    </test>

<!--    <test verbose="1" preserve-order="true" name="Retail Operations Authorizer">-->
<!--        <groups>-->
<!--            <run>-->
<!--                <include name="CaoAuthorizer4"/>-->
<!--            </run>-->
<!--        </groups>-->

<!--        <classes>-->
<!--            <class name="Test.Scripts.Conventional.CAOD.JointAccountCreation">-->
<!--                <methods>-->
<!--                    <include name="LCCurrentAuthorizer"/>-->
<!--                </methods>-->
<!--            </class>-->
<!--        </classes>-->
<!--    </test>-->

</suite>