<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="Resources.Listeners"/>
    </listeners>
<!--    <test verbose="1" preserve-order="true" name="Retail Operations Inputter">-->
<!--        <groups>-->
<!--            <run>-->
<!--                <include name="CaoInputter2"/>-->
<!--            </run>-->
<!--        </groups>-->

<!--        <classes>-->
<!--            <class name="Test.Scripts.Conventional.CentralizedStandingInstruction.OrderInputterMenu">-->
<!--            <methods>-->
<!--                <include name="STOReserved"/>-->
<!--            </methods>-->
<!--            </class>-->
<!--        </classes>-->
<!--    </test>-->
    <test verbose="1" preserve-order="true" name="Cao Authorizer">
        <groups>
            <run>
                <include name="CaoAuthorizer"/>
            </run>
        </groups>

        <classes>
            <class name="Test.Scripts.Conventional.CentralizedStandingInstruction.OrderInputterMenu">
                <methods>
                    <include name="StandingOrderAuth"/>
                </methods>
            </class>
        </classes>
    </test>

</suite>